<strong>Ola, {{provider}}</strong>
<p>Houve um cancelamento de horário, confira os detalhes abaixo: </p>
<p>
    <strong>Cliente: {{name}}</strong> <br>
    <strong>Data/Hora: {{data}}</strong><br>
    <br>
    <small>
        O horário está disponivel para novos agendamentos.
    </small>
</p>